<% layout("/layout/boilerplate") %>

  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <br>
          <h3><b>Edit your Listing</b></h3>
          <br />
          <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required />
              <div class="valid-feedback">Title looks good!</div>
            </div>


            <br />

            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
              <div class="invalid-feedback">Please enter a short description!</div>
            </div>

            <br />

            <div class="mb-3">
              Original listing Image<br/>
               <img src="<%=originalImageUrl%>">
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">New Image Upload</label>
              <input name="image" 
               type="file"
                class="form-control"  />
            </div>

            <br />
            <div class="row">
              <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required />
                <div class="invalid-feedback">Please enter a valid price!</div>

              </div>

              <br />

              <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control"
                  required />
                <div class="invalid-feedback">Please enter the valid country name!</div>

              </div>
            </div>
            <br />
            <div class="mb-3">
              <label for="location" class="form-label">Location</label>
              <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control"
                required />
              <div class="invalid-feedback">Please enter the valid location!</div>

            </div>
            <div class="mb-3">
              <label for="category" class="form-label">Category</label>
              <select name="listing[category]" class="form-select" required>
                <option value="Trending" <%= listing.category === 'Trending' ? 'selected' : '' %>>Trending</option>
                <option value="Rooms" <%= listing.category === 'Rooms' ? 'selected' : '' %>>Rooms</option>
                <option value="Iconic Cities" <%= listing.category === 'Iconic Cities' ? 'selected' : '' %>>Iconic Cities</option>
                <option value="Mountains" <%= listing.category === 'Mountains' ? 'selected' : '' %>>Mountains</option>
                <option value="Castles" <%= listing.category === 'Castles' ? 'selected' : '' %>>Castles</option>
                <option value="Amazing Pools" <%= listing.category === 'Amazing Pools' ? 'selected' : '' %>>Amazing Pools</option>
                <option value="Farms" <%= listing.category === 'Farms' ? 'selected' : '' %>>Farms</option>
                <option value="Beach" <%= listing.category === 'Beach' ? 'selected' : '' %>>Beach</option>
                <option value="Camping" <%= listing.category === 'Camping' ? 'selected' : '' %>>Camping</option>
                <option value="Tiny Homes" <%= listing.category === 'Tiny Homes' ? 'selected' : '' %>>Tiny Homes</option>
                <option value="Creative Spaces" <%= listing.category === 'CreativeSpaces' ? 'selected' : '' %>>Creative Spaces</option>
              </select>
            </div>
            

            <br />
            <button class="btn btn-dark edit-btn mt-3">Edit</button>

          </form>
        </div>
      </div>
    </div>
    <br /> <br />